@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Roboto';
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

img{
    width: 550px;
    height: auto;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}


/* ========= HEADER SECTION ========= */

.logo{
    font-size: 25px;
    margin-right: auto;
}

/* So that the items stay aligned*/
.header-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.header-section{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    flex: 0;
}

.header{
    display: flex;
    flex-direction: row;
}

.header-content{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding: 20px 0;
}

.left-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.header-title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    text-align: left;
    word-wrap: break-word;
    margin: 0;
}

.hero-text{
    text-align: left;
    font-size: 18px;
    color: #e5e7eb;
}

.left-text > button{
    background-color: #3882f6;
    border-radius: 5px;
    border: 0;
    align-self: flex-start;
    color: #e5e7eb;
    padding: 5px 15px;
    font-size: 17px;
}

.footer{
    background-color: #1f2937;
    color: #f9faf8;
    align-self: stretch;
    text-align: center;
}

/* ========== INFORMATION SECTION ========= */

.information-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.information-title{
    text-align: center;
}

.square{
    height: 150px;
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.pair{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
}

/* =========== QUOTE SECTION =========== */

.quote-section{
    align-self: stretch;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 45%;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin: 0;
}

.author{
    align-self: flex-end;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    margin: 0;
}

/* =========== SIGN UP SECTION =========== */

.sign-up-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-container{
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 7px;
    gap: 100px;
    margin: 50px;
    padding: 20px 80px;
}

.sign-up-container > button{
    background-color: #3882f6;
    border-radius: 5px;
    border: 2px solid #e5e7eb;
    color: #e5e7eb;
    padding: 5px 15px;
    font-size: 17px;
}

.call-to-action{
    align-self: center;
}

.call-to-action > h3{
    color: #f9faf8;
    margin: 0;
}

.call-to-action > p{
    color: #e5e7eb;
    margin: 0;
}
